@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: rgba(0, 0, 0, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}